.comment-container {
    width: 390px;
    height: 589px;
    background-color: #000;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.comment-description {
    width: 333px;
    /* height: 52px; */
    margin: 62px auto 0 auto;
}

.comment-avatar {
    margin-top: 52px;
    margin-bottom: 6px;
}

.icon-slider {
    margin: 18px auto 0 auto;
    width: 21px;
    height: 7px;
}